.content {
  display: flex;
  width: 100%;
  /* max-width: 1000px; */
  overflow-x: auto;
  align-items: space-around;
  background-color: rgb(252, 252, 252);
  scrollbar-color: transparent transparent;
}
.title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Jewelery {
  display: flex;
  flex-direction: column;
  margin: 30px;
  padding: 15px;
  margin-right: 50px;
}
.buscar, title{
  display: flex;
  justify-content: center;
  background-color: rgba(77, 238, 37, 0.753);
  padding:2rem;
}
