*{
    box-sizing: 0;
}
body{
    margin: 0;
    padding: 0;
}
img{
 width: 100%;   
}
.imagen {
    display: flex;
    padding: 5;
    flex-wrap: wrap;
}
.column{
    flex: 20%;
    padding: 5px;
}
.column.img{
    margin-top: 10%;
}
@media (max-width: 800px) {
    .column{
        flex: 50%;
    }
    
}
@media (max-width: 600px) {
    .column{
        flex: 10%;
    }
    
}