body{
    background-color: #141414;
}
.bg-gradient{
    background-image:linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%);
}
.header{
    background-color: #141414;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    position: relative;
}
.header nav{
    display: flex;
   
    font-family:Verdana, Geneva, Tahoma, sans-serif
    
}
.header img{
    display: flex;
    justify-content: end;
    width: 100px;
    margin-right: 5px;
    
}
.header nav a{
    color: #fff;
    text-decoration: none;
    margin-right:40px;
   
}
.peliculas p {
color: #fff;
font-family:Arial, Helvetica, sans-serif;
}
img{
    max-width: 250px;
    max-height: 200px;
    margin-left: 10px;
    
}
.buuton{
    background-color:#b1afaf ;
    
}
.bi bi-chevron-right{
    display: flex;
    max-height: 200px;
    background-color: #c59292;
    color:#141414;
    border-bottom: none;
}
.imagenes{
    display: flex;
    position: relative;
    margin-left:5px;
    overflow-x:scroll;
    scrollbar-width: none;
}
@media (max-widtth: 768px){
    
}

